body {
    font-family: Arial, sans-serif;
    background-color: #a49eda;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  h1 {
    text-align: center;
  }
  
  .add-task, .filter-tasks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .add-task input, .add-task select, .add-task button, .filter-tasks select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    flex: 1;
  }
  
  .add-task button {
    flex: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #e4e4e4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  